// @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import "base";
@import "navbar";
@import "typography";


/*=====================================================*/
/*                     scroll                          */
/*=====================================================*/

.banner__slider {
  &:hover {
    .owl-prev {
      left: 0px;
      opacity: 1;
    }

    .owl-next {
      right: 0px;
      opacity: 1;
    }
  }
}

#scroll {
  position: fixed;
  right: 2rem;
  bottom: 8rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  background-color: $color-secondary;
  display: none;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  border-radius: 6rem;
  z-index: 100;

  text-align: center;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    width: 6.4rem;
    height: 6.4rem;
    bottom: 9rem;
  }

  &:hover {
    background-color: rgba($color: #37455f, $alpha: 0.7);
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
  }
}


/*=====================================================*/
/*                    Header                         */
/*=====================================================*/



.container {

  @media screen and (orientation:landscape) and (min-device-width: 320px) and (max-device-width: 450px) {
    max-width: 608px;
  }

  @media only screen and (min-width: $bp-xlarge) {
    max-width: 132rem;
  }


}




main {
  position: relative;
}

.remove-scrolling {
  height: 100%;
  overflow: hidden;
  transition: overflow 0.1s;
}






////////////////////////////
// footer

.footer {
  // background: #121416;
  // background: linear-gradient(184deg,
  //     rgba(5, 39, 82, 1) 0%,
  //     rgba(38, 46, 100, 1) 100%);
  padding: 8rem 1rem 4rem;
  border-top: 1px solid #E1E2E3;

  &__list {
    display: grid;
    grid-template-columns:
      repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 30px;

    @media only screen and (max-width: $bp-992) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 30px;
    }

    @media only screen and (max-width: $bp-xsmall) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, max-content) 1fr max-content;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media only screen and (max-width: $bp-small) {
      align-items: flex-start;
      justify-content: flex-start;
    }

    & img {
      @media only screen and (max-width: $bp-380) {
        width: 40%;
      }
    }
  }

  &__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #252525;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__sub-heading {
    margin-bottom: 2rem;
    position: relative;
    color: #252525;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 2.2rem;
    }
  }

  &__nav-list {
    list-style: none;
    width: 100%;
  }

  &__nav-li {
    margin-bottom: 1.7rem;
    text-align: start;
    width: 100%;
  }

  &__nav-items {
    cursor: pointer;
    color: #7A7A7A;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      color: #aaa;
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: var(--responsive-font);
    }
  }

  &__address {


    &-item {
      display: block;
      color: #fff !important;
      font-size: 1.5rem;
      position: relative;
      margin-bottom: 1.2rem;
      line-height: 2;
      display: flex;
      gap: 1.5rem;
      align-items: center;
    }

    &--contact {
      margin-bottom: 0;
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: var(--responsive-font);
      line-height: 1.5;
    }
  }

  &__logo {
    // width: 10rem;
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    border-radius: 0px;
  }

  &__hr {
    margin: 4rem 0 2rem;
    color: #fff;
  }

  &__copyright {
    background: #252525;
    padding: 3rem 0;


    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.4rem;
      // padding-top: 0.9rem;
      background: #252525;
    }

    @media only screen and (max-width: $bp-xsmall) {
      flex-direction: column;
      text-align: center;
    }

    h2 {
      color: #c3c3c3;
      font-size: 1.4rem;
      margin: 0;

      @media only screen and (max-width: $bp-xsmall) {
        font-size: 1.6rem;
        // max-width: 27rem;
        line-height: 2;
      }
    }
  }

  &__nvf {
    color: #c3c3c3;
  }

  &__news {
    &-input {
      padding: 1.2rem 1.0rem;
      min-height: 3.5rem;
      border: 1px solid #e2e2e2;
      width: 100%;
      outline: none;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}




// .form {
//   &__group {
//     display: flex;
//     flex-direction: column;
//     margin-top: 1rem;

//     &.active label {
//       transform: translateY(1rem);
//       visibility: visible;
//       font-size: 1.6rem;
//       color: #30384e;
//     }
//   }

//   &__label {
//     font-size: 1.5rem;
//     font-weight: 600;
//     opacity: 0.8;
//     margin-bottom: 1rem;

//     transform: translateY(3.4rem);
//     transition: all 0.2s;
//     z-index: 3;

//     @media only screen and (max-width: $bp-xsmall) {
//       font-size: 1.8rem;
//     }
//   }

//   &__input {
//     background: #ffffff;
//     color: #707e9c;
//     border-radius: 4px;
//     display: block;
//     width: 100%;
//     padding: 0.5rem 0.75rem;
//     font-size: 1.6rem;
//     line-height: 1.25;
//     outline: none;

//     border: none;
//     background: transparent;
//     border-bottom: 2px solid #c1c1c1;
//     z-index: 4;

//     @media only screen and (max-width: $bp-xsmall) {
//       font-size: 1.8rem;
//     }

//     &:focus {
//       outline: none;
//       border-bottom: 2px solid #55c57a;
//     }

//     &:focus:invalid {
//       border-bottom: 2px solid #ff7730;
//     }

//     &::placeholder {
//       font-size: 1.6rem;
//     }
//   }

//   &__text-area {
//     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
//     // border-color: #cccccf;
//     border-image: none;
//     border-style: none none solid;
//     border-width: 0 0 1px;
//     font-size: 1.65rem;
//     height: 10rem;
//     width: 100%;

//     color: #707e9c;
//     margin-top: 1rem;
//     border-bottom: 2px solid #c1c1c1;

//     &::placeholder {
//       font-size: 1.6rem;
//       color: #30384e;
//     }

//     &:focus {
//       outline: none;
//     }
//   }
// }


///////////////////////////////
/// header

//////////////////////////////
//  header

header {
  max-height: 100vh;
  // overflow: hidden;
  height: auto;
  position: relative;
  margin-top: 4rem;

  .swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 8rem;

    &-slide {
      overflow: hidden;
      // max-height: 75vh;

      img {
        display: block;
        width: 100%;
        height: 100%;

      }
    }


    &-pagination {
      position: absolute;
      left: 0 !important;
      bottom: -5rem !important;
      width: 100% !important;
      margin: 0;
      // display: flex;
      // align-items: center;
      // justify-content: center;
    }

    &-pagination-bullet {
      width: 5rem;
      height: 0.7rem;
      opacity: 1;
      border-radius: 2rem;
      background: #BDBDBD;
    }

    &-pagination-bullet-active {
      background: $color-secondary;
      width: 8rem;

    }



    &-button-prev,
    &-button-next {
      position: absolute;
      left: 15px;
      top: 50%;
      opacity: 0;
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      background: rgba(0, 0, 0, 0.5) !important;
      width: 40px;
      cursor: pointer;
      height: 40px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      border-radius: 0;

      span {
        font-size: 1.6875rem;
        color: #fff;
      }

      &:focus {
        outline: 0;
      }

      &:hover {
        background: #000 !important;
      }

      &::after {
        display: none;
      }
    }

    &-button-next {
      right: 15px !important;
      left: auto !important;
    }


    &:hover {
      .swiper-button-prev {
        left: 0px;
        opacity: 1;
      }

      .swiper-button-next {
        right: 0px;
        opacity: 1;
      }
    }

  }

}

////////////////////////////
/// carousel

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: grab;

  @media only screen and (max-height: $bp-xsmall) {
    height: 30vh;
  }

  &__img {
    width: 100%;
    border-radius: 0;

    @media only screen and (max-height: $bp-xsmall) {
      height: 100%;
    }
  }

  &__title {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
    color: $color-secondary;
    font-weight: 600;
  }
}

/////////////////////////////////
/// product slide 

.product {
  &-card {
    cursor: grab;
  }

  &-slider {
    &-btn {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      font-size: 1.6rem;

      &-prev,
      &-next {
        cursor: pointer;

        &.swiper-button-disabled {
          opacity: 0.5;
        }

        &:hover {
          color: $color-primary;

        }
      }
    }
  }
}




/////////////////////
/// login

@import "loginsignup";

/////////////////////
/// shop

.shop {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: #7d7d7d;
      font-weight: 400;
      font-size: 1.5rem;
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      color: #7d7d7d;
      font-weight: 400;
      font-size: 1.5rem;
    }

    &-filter {
      background: transparent;
      border: none;
      display: flex;
      gap: 1rem;

    }

    select {
      border: none;
      outline: none;

      option {
        padding: 1rem;
        color: $color-secondary;
      }
    }
  }

  &__content {
    margin-top: 4rem;
  }

  &__single-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;


    &-details {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        color: $color-secondary;
        font-size: 1.5rem;
        font-weight: 500;
      }

      h3 {
        color: $color-secondary;
        font-size: 1.5rem;
      }
    }


    &::before {
      content: "view";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.2);
      z-index: 2;
      color: #fff;
      font-size: 1.5rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      visibility: none;

    }

    &:hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
  }


}


////////////////////////////////
/// sdp
///////////////////////////////////
/// sdp

.sdp {


  .ImageWrapper {
    width: 100%;
    height: 50rem;
    background-color: #fff;
    border-radius: .5rem;
    padding: .5rem;
    overflow: hidden;

    .AnimatedImage {
      width: 100%;
      height: 100%;
      transform: scale(1);
      background: transparent no-repeat center;
      background-size: contain;
      transition: transform .25s cubic-bezier(0.075, 0.82, 0.165, 1);
      /// default origin is in center
      transform-origin: 50% 50%;
      pointer-events: none;
    }

    &:hover {
      cursor: crosshair;

      .AnimatedImage {
        transform: scale(2);
      }
    }
  }

  &__content {
    display: flex;
    height: 100%;
    padding: 4rem;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  &__title {
    font-size: 3.5rem;
  }

  &__price {
    color: $color-primary;
    font-weight: 700;
    font-size: 3rem;
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__select {


    select {
      appearance: none;
      outline: 0;
      border: 0;
      box-shadow: none;
      flex: 1;
      padding: 0 1em;
      color: #fff;
      background-color: #2c3e50;
      background-image: none;
      cursor: pointer;
      font-size: 1.5rem;

      option {
        font-size: 1.5rem;
      }

      &::-ms-expand {
        display: none;
      }
    }

    .select {
      position: relative;
      display: flex;
      width: 80%;
      height: 3rem;
      border-radius: .25em;
      overflow: hidden;

      &::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        background-color: #34495e;
        transition: .25s all ease;
        pointer-events: none;
        color: #fff;
      }

      &:hover {
        &::after {
          color: #fff;
        }
      }
    }
  }

  &__btn {
    width: 50%;
    margin-top: 5rem;
  }

  &__quantity {
    margin-top: 5rem;

    &-btn {
      border: none;
      outline: none;
      background: transparent;
      font-size: 2rem;
    }

    &-input {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.5rem;
      border: none;
      outline: none;
    }
  }
}


/////////////////////////////////////////////////
/// cart

.cart {

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__table {
    width: 100%;

    tr {
      border-top: 1px solid#e9e7e7;
      border-bottom: 1px solid#e9e7e7;
      padding: 0;

      td {
        padding: 1rem 2rem;

      }
    }
  }

  &__product {
    &-title {
      font-size: 1.5rem;
      color: #252525;
      font-family: 'Poppins';

      a {
        color: $color-primary;
      }

      p {
        display: block;
        margin-top: 1.5rem;
      }
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 15rem;

        @media only screen and (max-width: $bp-xsmall) {
          width: 6rem;
        }
      }
    }

    &-dlt {
      font-size: 1.5rem;
      color: #252525;
      cursor: pointer;

      &:hover {
        color: $color-primary;
      }
    }

    &-quantity {

      @media only screen and (max-width: $bp-xsmall) {
        .sdp__quantity-input {
          width: 5rem;
        }
      }

      .div {
        justify-content: center;

      }
    }
  }

  &__total {
    &-conatiner {
      border: 1px solid#e9e7e7;
      margin-top: 5rem;
      padding: 4rem;
      font-family: "Poppins";
    }
  }
}